{% load static %}
<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>Escape Game</title>
  <meta name="description" content="Escape Game">
  <meta name="author" content="Plydow">

  <link rel="stylesheet" type='text/css' href="{% static 'start.css' %}">

</head>

<body>
  <header>
    <h1>Welcome to the Escape Game !</h1>
  </header>
  <form action="#" method="get">
    <input type="submit" class="button" value="Start" name="start" autocomplete="off">
  </form>
</body>
</html>
